<HTML>
<HEAD>
{% load staticfiles %}{% static "" as baseurl %}
<TITLE> Sign-up(4)</TITLE>
<BODY background="{% static 'mail/sign-up(4).jpg' %}" text=white>
<CENTER>
<link rel="stylesheet" href="{{baseurl}}qw.css">
<B><FONT size=72 face = "Old English Text MT" color=black><H1 align=center>CYGNUS</H1></FONT></B>
<FONT size=20 face='Bradley Hand ITC'>Your Data is successfully saved</FONT><BR>
<BR>
<BR>
<FONT size=10 face="Bradley Hand ITC">Now Press On Home Button To Go Back To Homepage</FONT><BR> <BR> <BR> <BR> 
<form action='front'>
<INPUT type='submit' name='home' value="HOME"/><BR>
</form>
</CENTER>
</BODY>
</HEAD>
</HTML>
