<html>
<head>
<title>Sent</title>
</head>
{% load staticfiles %}{% static "" as baseurl %}
<link rel="stylesheet" href="{{baseurl}}qw.css">

<body background = "{% static 'mail/sent.jpg' %}" text=lightblue style="font-size:24">
<center>
<div class='wrapper'>
<h1><font face="Old English Text MT">Sent</font></h1>
<table border>
<font face="Bradley Hand ITC">
<form action='smail' method='post'>
{% csrf_token %}
<tr>
<td><ol>
{% for i in read %}
	<li>{{i}}
{% endfor %}
</ol></td>
</tr>
</table>
<br>
<br>
Enter number of mail to open&nbsp&nbsp&nbsp<input type ="text" name="val">
<br><br><input type='submit' value='continue'>
</form><br>
</div>
</font>
<form action = "home" method='post'>
{% csrf_token %}<br>
<input type='submit' name='home' value='HOME'  />
</form>
</center>
</body>
</html>